mainmenu "MKRTOS Project Configuration"
source "mkrtos_knl/Kconfig"
source "mkrtos_user/Kconfig"

config BOARD_NAME
    string "board name."
    default "stm32f103zet6"

config CPU_TYPE
    string "mkrtos set cpu type."
    default "stm32f1"

config ARCH
    string "cpu arch"
    default "cortex-m3"

config FLOAT_TYPE
    string "float type is soft or hard"
    default "soft"
config ELF_LAUNCH
    bool "elf app launch"
    default n

config DTBO_OFFSET
    hex "dtbo img offset."
    default 0x1000

config RTT_DIR
    string ""
    default "./"



