menu "Knl config"


menuconfig KNL_INFO
    bool "knl info set"
    default y

    config KNL_TEST
    bool "enable knl test."
    default n
if KNL_INFO
    config MMU
        bool "support mmu"
        default n
    config PAGE_SHIFT
        int "page shift"
        default 9
    config SMP
        bool "support smp."
        default n
if SMP
    config CPU
        int "CPU Core number."
        default 1
endif
    config BUDDY_SLAB
        bool "use BUDDY & SLAB"
        default n
    config THREAD_BLOCK_SIZE
        hex  "kthread block size"
        default 0x400
    config KNL_TEXT_ADDR
        hex  "The first address of the kernel text section"
        default 0x8000000

    config KNL_TEXT_SIZE
        hex "Size of the kernel text segment."
        default 0x100000
    
    config KNL_DATA_ADDR
        hex "knl data addr."
        default 0x20000000
    
    config KNL_DATA_SIZE
        hex "knl data size."
        default 0x2000000
    config KNL_OFFSET
        hex "knl set"
        default 0x2000
    
    config INIT_TASK_OFFSET
        hex "init task offset"
        default 0x10000
    
    config BOOTFS_OFFSET
        hex "bootfs offset"
        default 0x20000
menuconfig KNL_EXRAM
    bool "knl sram support"
    default n
if KNL_EXRAM
    config EX_RAM_ADDR
        hex "sram start addr."
        default 0x68000000
    
    config EX_RAM_SIZE
        hex "sram size"
        default 0x100000
endif
menuconfig MK_MPU_CFG
    bool "MKRTOS MPU config"
    default y
if MK_MPU_CFG
    config MPU_VERSION
    int "mpu version"
    default 1
endif
endif


config FT_ADDR_NR
    int "The number of addresses supported by futex."
    default 16
    help
       Set the number of supported futex, which usually indicates how many user state locks are supported..
config SYS_SCHE_HZ
    int "System time slice size"
    default 1000
    help
        Set the time slice size of the system.

config USER_ISR_START_NO
    int "The starting point of the user mode interrupt number."
    default 16
    help
        This number indicates which interrupt number can be used for user status.
config IRQ_REG_TAB_SIZE
    int "The size of the interrupt registry in the kernel."
    default 80
    help 
        The interruption of user registration will temporarily use this table.
config REGION_NUM
    int "Number of MPU regions"
    default 8
    help 
        Set the number of regions protected by MPU.

config OBJ_MAP_TAB_SIZE
    int "The number of obj mapping tables."
    default 4
    help
        OBJ_MAP_TAB_SIZE * OBJ_MAP_ENTRY_SIZE is equal to the number of kernel objects that a task can map.
config OBJ_MAP_ENTRY_SIZE
    int "The size of the entries in the mapping table."
    default 8
    help
        OBJ_MAP_TAB_SIZE * OBJ_MAP_ENTRY_SIZE is equal to the number of kernel objects that a task can map.
config PRINTK_CACHE_SIZE
    int "The cache size of printk."
    default 128
    help
        The printk cache size refers to the size of the data content output to the console in a single attempt, which usually does not need to be modified.
endmenu
