
#
# Knl config
#
CONFIG_KNL_INFO=y
CONFIG_SYS_TEXT_ADDR=0x8000000
CONFIG_SYS_TEXT_SIZE=0x3F0000
CONFIG_SYS_DATA_ADDR=0x20000000
CONFIG_SYS_DATA_SIZE=0x60000
CONFIG_BOOTSTRAP_TEXT_SIZE=0x3000
CONFIG_DTBO_TEXT_SIZE=0x1000
CONFIG_KNL_TEXT_SIZE=0x30000

CONFIG_MPU=y
CONFIG_FT_ADDR_NR=16
CONFIG_SYS_SCHE_HZ=1000
CONFIG_USER_ISR_START_NO=16
CONFIG_IRQ_REG_TAB_SIZE=80
CONFIG_REGION_NUM=8
CONFIG_OBJ_MAP_TAB_SIZE=32
CONFIG_OBJ_MAP_ENTRY_SIZE=32
CONFIG_PRINTK_CACHE_SIZE=128
# end of Knl config

#
# Libc backend
#
CONFIG_FD_MAP_ROW_CN=16
CONFIG_FD_MAP_ROW_NR=16
# end of Libc backend

#
# Sys util config
#
CONFIG_USING_SIG=y
CONFIG_SIG_THREAD_STACK_SIZE=512
CONFIG_SIG_THREAD_PRIO=3
# end of Sys util config


CONFIG_CPU_TYPE="at32f437"
CONFIG_ARCH="cortex-m4"
CONFIG_FLOAT_TYPE="soft"
CONFIG_BOARD_NAME="ATSURFF437"
CONFIG_BUDDY_SLAB=n
CONFIG_SMP=n
CONFIG_CPU=1
CONFIG_THREAD_BLOCK_SIZE=0x800
CONFIG_PAGE_SHIFT=9
CONFIG_MMU=n
CONFIG_KNL_TEST=n
CONFIG_ELF_LAUNCH=n
CONFIG_THREAD_MSG_BUG_LEN=128
CONFIG_THREAD_IPC_MSG_LEN=24
CONFIG_THREAD_MAP_BUF_LEN=4
CONFIG_THREAD_USER_BUF_LEN=4
CONFIG_MSG_BUF_VADDR=0xE0000000
CONFIG_BOOT_FS_VADDR=0xE0001000
CONFIG_MPU_PAGE_FAULT_SUPPORT=y
CONFIG_MPU_PAGE_FAULT_REGIONS_NUM=2
CONFIG_BOOT_INFO_SUPPORT=y
CONFIG_DTBO_SUPPORT=y
CONFIG_CPIO_SUPPORT=n
CONFIG_APP_PARAMS_NR=16