menu "Libc backend"

config FD_MAP_ROW_CN
    int "fd map row cn"
    default 16
    help
        Set the number of mapping layers, the larger the number of FD available to the user.
config FD_MAP_ROW_NR
    int "fd map row nr"
    default 16
    help
        Set the number of mapping layers, the larger the number of FD available to the user.
endmenu
