#一次读取一行，每行代表启动的应用程序
block /dev/block
ram_block -p /dev/rblk -s 512 -n 2048
appfs -m /bin -d /dev/block
fatfs -m /mnt -d /dev/rblk
# pin
# i2c
# pca9555
# display
# snd
# a_eth
# a_net
# a_nes /bin/sm.nes
sh